body {
  background-color:white;
}

a {
  color: #008000;
}

header {
  border:3px dotted black;
}

h1 {
  font-family: "Courier", Courier, sans-serif;
  display: inline;
  color: hotpink;
  /* margin: 2em; */
}

.header-buttons {
  float:right;
  width:15%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}

h2 {
  font-family: "Courier", Courier, sans-serif;
  color: hotpink;
}

.Intro {
  float:left;
  font-family: "Helvetica", Times, serif;
  width:49%;
  height:30%;
  border:0px solid black;
}

.collage-img {
  display:inline-block;
  /* float:right; */
  width:49%;
  height:40%;
}


.source {
  color: hotpink;
}

.added {
  color: black;
}

.body {
  color: black;
}
