{% extends "layout.html" %}
{% block title %}
Assessment - GDELT Education
{% endblock %}
  {% block content %}
  <div class="centered">
    <h2 class="subcategory-header"> Keyword: Assessment </h2>
  <img src={{ assessment_count }} class="subcat-img">
  <img src={{ assessment_avgtone }} class="subcat-img">
  <div class="pre-tables">
    <h2> Positive Average Tone Actors </h2>

    <div class="Table-Header">
    <h2> Maine </h2>

      <p> <b style="color: hotpink;">Highlight:</b> The Maine Department of Education released a template for the
        Maine schools to report their Comprehensive Needs Assessments (CNA).
        The CNAs are how the schools receive federal funds.
        The template's purpose is to prevent the duplication of work and reporting
        to the Maine Department of Education.</p>

        <p> <b> Click the links below to see why articles including Maine
        resulted in an overall positive Average Tone. </b></p>
    </div>
    <div class="Table-Header">
    <h2> Student </h2>

    <p> <b style="color: hotpink;">Highlight:</b> The Alaska Department of Education
      announced they will be purchasing student assessments from the Data Recognition
      Corporation. Previously they were using the Alaska Measures Progress test which
      "was plagued by technical issues, which interrupted testing and delayed results".
    </p>

      <p> <b> Click the links below to see why articles including students
        resulted in an overall positive Average Tone. </b></p>
    </div>

  <div class="ASSESSTable">
  {{ maine_html_table|safe }}
  </div>

  <div class="ASSESSTable">
    {{ student_html_table|safe }}
  </div>
  </div>


<div class="pre-tables">
  <h2> Neutral & Negative Average Tone Actors </h2>

  <div class="Table-Header US">
  <h2> United States </h2>

  <p> <b style="color: hotpink;">Highlight:</b> An assessment system called i-Ready
    created by Curriculum Associates targets advanced & gifted students.
    The i-Ready system is apparently incompatible with iPads and has poor Mac support
    (2017-2018). The i-Ready assessment system has been criticized for its lack of
    detail in the reports it gives teachers (i.e. not showing the specific
    problems that students got wrong)
    (https://mathexchanges.wordpress.com/2018/06/14/why-iready-is-dangerous/).
  </p>

    <p> <b> Click the links below to see why articles including the United States
      resulted in an overall neutral Average Tone. </b></p>

  </div>
  <div class="Table-Header">
  <h2> Florida </h2>

  <p> <b style="color: hotpink;">Highlight:</b> Here the keyword 'assessment'
    captured a different aspect of US education, that of violence and 'threat assessment'.
    Gun violence is a serious issue in the United States, and the overall negative tone
    associated with assessment in Florida reflects the tragedy of the 2018 Stoneman Douglas
    High School Shooting.
  </p>

    <p> <b> Click the links below to see why articles including Florida
      resulted in an overall negative Average Tone. </b></p>

  </div>

  <div class="ASSESSTable">
  {{ US_html_table|safe }}
  </div>

  <div class="ASSESSTable FLR" >
  {{ FL_html_table|safe }}
  </div>
  </div>

  {% endblock %}
