<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="static/styles.css">
    <title>Latest News</title>
  </head>
  <body>
      <main>
        <header>
        <h1>Dynamic Visualizations (Tableau)</h1>
        <p> Data visualization of media coverage of educational topics
          <br>in the United States and the rest of the world </p>
      </header>

      <ul>
        <li><a href="querydb"> Static Visualizations </a>
      </ul>






      </main>

  </body>
</html>
