<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="static/styles.css">
    <title>
      {% block title %}

      {% endblock %}
    </title>
  </head>
  <body>
      <main>
        <header>
        <h1>GDELT Education Project</h1>
        <div class="header-buttons">
        <ul>
          <li><a href="/"> Home </a>
        </ul>
      </div>
      </header>
      {% block content %}
      {% endblock %}

      {% block links %}


        <div>
          <a href="essa">Every Student Succeeds Act</a>
        </div>
        <div>
          <a href="curriculum">Curriculum in the US</a>
        </div>

      {% endblock %}


    </main>

    </body>
    </html>
